.header {
  height: 6.25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.125rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: #fff;
  margin-bottom: 2.5rem;
}

.menuContainer {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.menuContainer li span {
  margin-right: 0.625rem;
}

.userInfoContainer {
  display: flex;
  list-style: none;
  gap: 3.75rem;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin-right: 3.75rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.userInfoContainer li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userInfoContainer li:hover {
  transform: scale(1.05);
}

.userInfoContainer li:active {
  transform: scale(0.95);
}

.authContainer {
  gap: 1rem;
  text-decoration: underline;
}

.hamburgerContainer {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
}
